<% layout('layouts/boilerplate') %>

<h1>Register</h1>
<form class="validated-form" novalidate action="/register" method="POST">
    <div class="mb-3">
        <label for="username" class="form-label">Username: </label>
        <input required type="text" id="username" name="username" placeholder="username" class="form-control" />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email: </label>
        <input required type="email" id="email" name="email" placeholder="email" class="form-control" />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password: </label>
        <input required type="password" id="password" name="password" class="form-control" />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <button class="btn btn-success">Register</button>
</form>